---
layout: base
published: false
---
<div class="grid">
    <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
        <article class="card" style="margin-bottom: 20px;">
            <address class="hidden">
                <span class="name">{{ site.title }}</span>
                <span class="street">{{ site.street }}</span>
                <span class="city">{{ site.zip }} {{ site.city }}</span>
                <span class="country">{{ site.state }} - {{ site.country }}</span>
                
                <a class="url" href="{{ site.url }}">andco.ch</a>
                <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </address>
            
            <img class="card__media" src="/files/cards/andco.png" alt="Studio ANDco Sàrl business card" title="Studio ANDco Sàrl business card">
        </article>
    </div>
    
    {% for card in site.cards %}
    {% include cards.html card=card %}
    {% endfor %}
    
    <div class="grid__item alone-last lg-w-1/2 sm-w-1/1 xs-w-1/1">
        <article class="card card--padded">
            <h2 class="card__title">Le Studio ANDco</h2>
            <p>
                est une agence de graphisme et développement web qui répond à toutes formes de demandes.
                Nous sommes en mesure de résoudre les équations les plus complexes.
                Nous vous aiguillerons concernant vos besoins.
                Nous vous permettrons d'établir des parallèles.
                Nous vous éviterons de tourner en rond.
                Nous arrondirons les angles en cas de besoin.
                
                <p>Soyez également sûr que nous y mettrons la forme.
                    Bref, avec nous, vous tenez une formule gagnante !</p>
                </article>
            </div>
            
            <!-- identité graphique -->
            <div class="grid__item lg-w-1/2 sm-w-1/2 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/cabine.jpg" alt="La Cabine Logo" title="La Cabine Logo">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/taara.jpg" alt="La Cabine Logo" title="La Cabine Logo">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 "></div>
            
            <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card card--padded prestation">
                    <a href="{{ site.url }}/team/triangle"><img class="prestation__media" src="{{ site.url }}/files/pictogram/triangle.png" alt="Mr. Triangle"></a>
                    <h2 class="card__title">Identité graphique</h2>
                    <p>
                        C'est au côté de Mr.Triangle que votre identité graphique prendra forme.
                    </p>
                    <p>
                        Attentif à vos besoins, il vous aiguillera tout au long du processus de créations, de part un choix réflechit de couleurs, de formes et de typographie. 
                    </p>
                    <p>
                        Donnant ainsi vie à une identité visuelle unique, au travers d'un logo, de cartes de visite, de papier à lettre, d'enveloppes et de divers papetteries…
                    </p>
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card card--rounded">
                    <img class="card__media" src="{{ site.url }}/files/projects/lacabine/purple2.jpg" alt="La Cabine carte membre" title="La Cabine carte membre">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card card--rounded">
                    <img class="card__media" src="{{ site.url }}/files/projects/lacabine/purple1.jpg" alt="La Cabine carte membre" title="La Cabine carte membre">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card card--rounded">
                    <img class="card__media" src="{{ site.url }}/files/projects/lacabine/blue2.jpg" alt="La Cabine carte membre" title="La Cabine carte membre">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card card--rounded">
                    <img class="card__media" src="{{ site.url }}/files/projects/lacabine/pink2.jpg" alt="La Cabine carte membre" title="La Cabine carte membre">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card card--rounded">
                    <img class="card__media" src="{{ site.url }}/files/projects/lacabine/yellow1.jpg" alt="La Cabine carte membre" title="La Cabine carte membre">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card card--rounded">
                    <img class="card__media" src="{{ site.url }}/files/elements/plante.png" alt="Plante" title="Mini Hubert">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2"></div>
            
            <!-- Brochures, flyer, Affiches-->
            
            <div class="grid__item lg-w-1/2"></div>
            
            <div class="grid__item lg-w-1/2 w-1/1">
                <article class="card card--padded prestation">
                    <a href="{{ site.url }}/team/triangle"><img class="prestation__media" src="{{ site.url }}/files/pictogram/triangle.png" alt="Mr. Triangle"></a>
                    <h2 class="card__title">Flyer, brochures, posters</h2>
                    <p>
                        Mr. Triangle saura vous diriger à l'essentielle vos communications, au travers des différents supports publicitaires tel que les flyer, borchures et poster.
                    </p>
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/assainimmob/brochure-1.jpg" alt="Assainimmob borchure" title="Assainimmob borchure">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/assainimmob/brochure-2.jpg" alt="Assainimmob borchure" title="Assainimmob borchure">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/poster/chauve_poster.jpg" alt="Poster" title="Poster CHauve pour la bonne cause">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/poster/lost_flyer.jpg" alt="Poster" title="Lost in the mountains">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/poster/hes-so_poster.jpg" alt="Poster" title="Infographie Erasmus, move office">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/elements/einstein.png" alt="Einstein" title="Einstein Figure">
                </article>
            </div>
            
            <div class="grid__item lg-w-3/4"></div>
            
            <!-- Packaging -->
            
            <div class="grid__item lg-w-1/2"></div>
            
            <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/charlies/terrine.png" alt="Terrine Charlie's" title="Terrine Charlie's">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2 w-1/1">
                <article class="card card--padded prestation">
                    <a href="{{ site.url }}/team/triangle"><img class="prestation__media" src="{{ site.url }}/files/pictogram/triangle.png" alt="Mr. Triangle"></a>
                    <h2 class="card__title">Packagings</h2>
                    <p>
                        Enfin la faim arriva
                    </p>
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2"></div>
            <div class="grid__item lg-w-1/4"></div>
            
            <div class="grid__item lg-w-3/4 sm-w-1/1 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/cave-lys/bouteille.png" alt="Cave du Lys" title="Cave du Lys">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
                <article class="card ">
                    <img class="card__media" src="{{ site.url }}/files/projects/lacabine/cabinche.png" alt="Biere Cabinche" title="Cabinche Biere La Cabine">
                </article>
            </div>
            
            <div class="grid__item lg-w-3/4"></div>
            
            <!-- site internet -->
            
            <div class="grid__item alone-last lg-w-1/2 sm-w-1/2 xs-w-1/1">
                <article class="card">
                    <img class="card__media" src="{{ site.url }}/files/elements/c3po.png" alt="C3-PO Star Wars" title="C3-PO Star Wars">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/2"></div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/2">
                <article class="card card--website">
                    <img class="card__media" src="{{ site.url }}/files/projects/aux5t/mobile.jpg" alt="Aux5t website" title="Aux5t website">
                </article>
            </div>
            
            <div class="grid__item lg-w-3/4 sm-w-1/1 xs-w-1/1">
                <article class="card card--website">
                    <img class="card__media" src="{{ site.url }}/files/projects/aux5t/index.jpg" alt="Aux5t website" title="Aux5t website">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/2 w-1/1">
                <article class="card card--padded prestation">
                    <a href="{{ site.url }}/team/circle"><img class="prestation__media" src="{{ site.url }}/files/pictogram/circle.png" alt="Mr. Cricle"></a>
                    <h2 class="card__title">Web et développement en faim</h2>
                    <p>
                        C'est au près du wavy master, Mr. Circle, que vous pourrez développer le squellette de vos site internet, en l'étoffant d'un E-commerce ou en augementant sa visibilité grâce au SEO et Analytics. 
                    </p>
                    <p>
                    Un sur mesure à votre image digital.
                    </p>
                </article>
            </div>
            
            <div class="grid__item lg-w-3/4 sm-w-1/1 xs-w-1/2">
                <article class="card card--website">
                    <img class="card__media" src="{{ site.url }}/files/projects/web/arta-index.jpg" alt="Art'A website" title="Art'A website">
                </article>
            </div>
            
            <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/2">
                <article class="card card--website">
                    <img class="card__media" src="{{ site.url }}/files/projects/web/arta-mobile.jpg" alt="Art'A website" title="Art'A website">
                </article>
            </div>
            
            <div class="grid__item alone-last lg-w-1/2 sm-w-1/1 xs-w-1/1">
                <article class="card">
                    <img class="card__media" src="{{ site.url }}/files/elements/olympus.png" alt="Camera" title="Camera">
                </article>
            </div>
            
            
            
            
            
            
            {% for poster in site.cards %}
            {% capture extra %}{% if forloop.last %}alone-last{% endif %}{% endcapture %}
            {% include posters.html poster=poster extra_class=extra %}
            {% endfor %}
        </div>