---
layout: base
---
<div class="grid">
    <div class="grid__item lg-w-1/4 sm-w-1/2 xs-w-1/1">
        <article class="card" style="margin-bottom: 20px;">
            <address class="hidden">
                <span class="name">{{ site.title }}</span>
                <span class="street">{{ site.street }}</span>
                <span class="city">{{ site.zip }} {{ site.city }}</span>
                <span class="country">{{ site.state }} - {{ site.country }}</span>

                <a class="url" href="{{ site.url }}">andco.ch</a>
                <a class="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
            </address>

            <img class="card__media" src="/files/cards/andco.png" alt="Studio ANDco Sàrl business card" title="Studio ANDco Sàrl business card">
        </article>
    </div>

    {% for card in site.cards %}
        {% include cards.html card=card %}
    {% endfor %}

    <div class="grid__item lg-w-3/4 sm-w-1/1 xs-w-1/1">
        <article class="card card--padded" style="font-size: 1.4em;">
            <p><b>Le Studio ANDco</b> est une agence de communication print et digitale qui réponds à toutes formes de demandes.
               Nous sommes en mesure de résoudre les équations les plus complexes.
               Nous vous aiguillerons concernant vos besoins.
               Nous vous permettrons d'établir des parallèles.
               Nous vous éviterons de tourner en rond.
               Nous arrondirons les angles en cas de besoin.

            <p>Soyez également sûr que nous y mettrons la forme.
               Bref, avec nous, vous tenez une formule gagnante !</p>

        </article>
    </div>

    <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
        <article class="card">
            <img class="card__media" src="/files/projects/cabine.png" title="La Cabine" alt="La Cabine">
        </article>
    </div>

    <div class="grid__item lg-w-1/2 sm-w-1/1 xs-w-1/1">
        <div class="grid__item lg-w-1/2 sm-w-1/2 xs-w-1/1">
            <article class="card">
                <img class="card__media" src="/files/projects/assainimmob.png" title="Assainimmob" alt="Assainimmob">
            </article>
        </div>

        <div class="grid__item lg-w-1/2 sm-w-1/2 xs-w-1/1">
            <article class="card">
                <img class="card__media" src="/files/projects/bebroker.png" title="Be Broker" alt="Be Broker">
            </article>
        </div>

        <div class="grid__item lg-w-1/2 sm-w-1/2 xs-w-1/1">
            <article class="card">
                <img class="card__media" src="/files/projects/photoval.png" title="PhotoVal" alt="PhotoVal">
            </article>
        </div>

        <div class="grid__item lg-w-1/2 sm-w-1/2 xs-w-1/1">
            <article class="card">
                <img class="card__media" src="/files/projects/taara.png" title="Taara Architecture" alt="Taara Architecture">
            </article>
        </div>
    </div>

    {% for poster in site.cards %}
        {% capture extra %}{% if forloop.last %}alone-last{% endif %}{% endcapture %}
        {% include posters.html poster=poster extra_class=extra %}
    {% endfor %}
</div>
