<div class="grid__item lg-w-1/{{ include.lg | default: 4 }} sm-w-1/{{ include.sm | default: 2 }} xs-w-1/1 {{ include.extra_class }}">
    <article class="card card--padded card--business">
        <header>
            <img src="{{ site.url }}/files/pictogram/{{ include.card.sign }}.png" title="{{ include.card.name }} Business Card" alt="{{ include.card.name }} Business Card">
            <h1>{{ include.card.name }}</h1>
            <h2>{{ include.card.sign_long }}</h2>
            <h3>{{ include.card.title }}</h3>
        </header>

        <address>
            <span class="name">{{ include.card.name }}</span>
            <span class="title">{{ include.card.role }}</span>
            <span class="street">{{ site.street }}</span>
            <span class="city">{{ site.zip }} {{ site.city }}</span>
            <span class="country">{{ site.state }} - {{ site.country }}</span>

            <a class="url"  href="{{ site.url }}#{{ include.card.sign }}">andco.ch</a>
            <a class="email" href="mailto:{{ include.card.email }}">{{ include.card.email }}</a>
            <a class="phone" href="tel:{{ include.card.phone_unformatted }}">{{ include.card.phone }}</a>
        </address>
    </article>
</div>

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Person",
  "@id": "{{ site.url }}#{{ include.card.sign }}",
  "name": "{{ include.card.name }}",
  "alternateName": "{{ include.card.sign_long }}",
  "jobTitle": "{{ include.card.role }}",
  "image": [
    "{{ site.url }}/files/pictogram/{{ include.card.sign }}.png",
    "{{ site.url }}/files/poster/{{ include.card.sign }}.png.jpg"
  ],

  "url": "{{ site.url}}/team/{{ include.card.slug }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.street }}",
    "addressLocality": "{{ site.city }}",
    "addressRegion": "{{ site.state }}",
    "postalCode": "{{ site.zip }}",
    "addressCountry": "{{ site.country }}"
  },
  "email": "{{ include.card.email }}",
  "telephone": "{{ include.card.phone_unformatted }}"
}
 </script>