<div class="grid__item lg-w-1/{{ include.lg | default: 2 }} sm-w-1/{{ include.sm | default: 1 }} xs-w-1/1 {{ include.extra_class | default: '' }}">
    <article class="card {{ include.double | default: 'card--double' }}">
        <img class="card__media" src="/files/poster/{{ include.poster.sign }}.jpg" title="Poster {{ include.poster.name }}" alt="{{ include.poster.sign_long }} - {{ include.poster.role }}">
    </article>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CreativeWork",
  "@id": "{{ site.url}}/files/poster/{{ include.poster.sign }}.jpg",
  "name": "{{ include.poster.name }}",
  "author": { "@id": "{{ site.url}}" },
  "image": "{{ site.url}}/files/poster/{{ include.poster.sign }}.jpg",
  "url": "{{ site.url}}/team/{{ include.poster.slug }}"
}
</script>