<!DOCTYPE HTML>
<html lang="fr">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
    <meta charset="utf-8" />

    <title>andco</title>
    <meta name="description" content="Studio andco is a Swiss design agency. We create branding, visual designs, and websites.">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="fb:app_id" content="1647511595550108" />
    <meta property="og:type" content="business.business" />
    <meta property="og:site_name" content="Studio andco"/>
    <meta property="og:locale" content="en_US" />

    <meta property="business:contact_data:street_address" content="Rue de l'Industrie 40" />
    <meta property="business:contact_data:locality" content="Sion" />
    <meta property="business:contact_data:postal_code" content="1950" />
    <meta property="business:contact_data:country_name" content="Suisse" />
    <meta property="place:location:latitude" content="46.227210" />
    <meta property="place:location:longitude" content="7.365095" />

    <meta property="og:title" content="Studio andco - Swiss design agency" />
    <meta property="og:image" content="http://andco.ch/files/cards/andco.png" />
    <meta property="og:url" content="http://andco.ch/" />
    <meta property="og:description" content="Studio andco is a Swiss design agency. We create branding, visual designs, and websites." />

    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@ANDco_o" />
    <meta property="twitter:creator" content="@meierg" />

    <link href="//fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">
    <link href="/styles/print.css" rel="stylesheet" media="print">

    <link rel="canonical" href="http://andco.ch/">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="andco"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />

    <meta name="msapplication-navbutton-color" content="#FFFFFF">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFFFFF">
</head>

<body>
    <header>
        <h1>andco</h1>
        <h2>Swiss design agency</h2>
        <h3>We create branding, visual designs, and websites.</h3>
    </header>

    <nav>
        <ul class="social">
            <li>
                <a class="facebook" href="https://www.facebook.com/andcohello">
                    <img src="/files/pictogram/facebook.png"><span>Facebook</span>
                </a>
            </li>
            <li>
                <a class="instagram" href="https://www.instagram.com/andco_o">
                    <img src="/files/pictogram/instagram.png"><span>Instagram</span>
                </a>
            </li>
            <li>
                <a class="maps" href="https://www.google.ch/maps/place/ANDco/@46.2272173,7.3632894,17z/data=!3m1!4b1!4m5!3m4!1s0x478edc26a314c67d:0xfe3d7c62bd23336a!8m2!3d46.2272173!4d7.3654781?hl=en">
                    <img src="/files/pictogram/maps.png"><span>Maps</span>
                </a>
            </li>
        </ul>
    </nav>

    {{ content }}

    <footer>
        <address>
            andco<br>
            Rue de l'Industrie 40<br>
            1950 Sion<br>
            Valais - Suisse<br>
            <a href="mailto:hello@andco.ch">hello@andco.ch</a>
        </address>
    </footer>

    <script src="/javascripts/main.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-77883422-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
