---
---
@import '../_sass/kanbasu';
@import '../_sass/card';
@import '../_sass/prestation';

html {
    background: url('/files/pegboard.png') repeat;
}

body {
    margin-bottom: 60px;
}

.nav-container,
body > div.grid {
    width: 640px;
    margin: 0 auto;
}

body > div.grid {
    margin: 60px auto 0;
    position: relative;

    .grid__item {
        padding: 0;
    }
}

body > nav {
    position: fixed;
    top: 0;
    width:  100%;

    background-color: black;
    color: white;
    z-index: 1000;
    box-shadow: 0 3px 5px 3px rgba(0,0,0,0.12), 3px 5px 7px 5px rgba(0,0,0,0.24);
}

nav {
    ul {
        list-style: none;
        margin: 10px 15px;
        line-height: 35px;

        display: flex;

        li, a { height: 35px; }
        a > span { display: none; }
        a > img { height: 100%; }
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color:  lightgray;
        }
    }

    .navigation {
        float: left;
        li { margin-right: 2em; }
    }

    .social {
        float: right;
    }

    li {
        display:  inline-block;
    }
}

body > header,
body > footer {
    display: none;
}

@media (min-width: $screen-sm-min) {
    .sm-w-3\/4.alone-last { margin-left: 12.5%; }
    .sm-w-1\/2.alone-last { margin-left: 25%; }
    .sm-w-1\/4.alone-last { margin-left: 37.5%; }
}

@media (min-width: $screen-md-min) {
    .md-w-3\/4.alone-last { margin-left: 12.5%; }
    .md-w-1\/2.alone-last { margin-left: 25%; }
    .md-w-1\/4.alone-last { margin-left: 37.5%; }
}

@media (min-width: $screen-lg-min) {
    .nav-container,
    body > div.grid {
        width: 1280px;
    }

    .lg-w-3\/4.alone-last { margin-left: 12.5%; }
    .lg-w-1\/2.alone-last { margin-left: 25%; }
    .lg-w-1\/4.alone-last { margin-left: 37.5%; }
}

@media (max-width: $screen-xs-max) {
    .nav-container,
    body > div.grid {
        width: 320px;
    }

    body > div.grid {
        margin-top: 100px;
    }

    nav {
        height: 6em;

        .navigation, .navigation .logo, .social {
            position: absolute;
        }

        .navigation {
            top: 2.5em;
            .logo {
                top: -2.5em;
            }
        }
        .social {
            top: 0;
            right: 0.5em;
        }
    }

    .xs-hidden {
        display: none;
    }
}

.grid__item > .grid__item {
    float: left;
}
